.q1{
border:2px solid  rgb(255, 0, 0);
background-color: aquamarine; 
height:100px;
width:900px;
}
.q2{
border:2px dashed green;
background-color: aquamarine; 
height:100px;
width:900px;
}
.q3{            
border:2px dotted blue;
background-color: aquamarine;     
height:100px;
width:900px;
}













